<!DOCTYPE html>
<html>
<head>
  <title>GameStats</title>
  <%= stylesheet_link_tag    "game_stats/application", media: "all" %>
  <%= javascript_include_tag "game_stats/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
